body
{
    background: #ccc;
    position: relative;
}
#header a:hover{
    color:#fff;
}
#About{
    margin-top: -200px;
}
#About .fa{
    color: white;
}
#About span{
    padding: 10px 20px 10px 20px;
}
#About hr{
    border-width: 3px;
    margin-top: 06px;
}

#Skills span{
    padding: 10px 20px 10px 20px;
}

#Skills hr{
    border-width: 3px;
    margin-top: 06px;
}

#Contact span {
    padding: 10px 20px 10px 20px;
}

#Contact hr {
    border-width: 3px;
    margin-top: 06px;
}

#Resume span {
    padding: 10px 20px 10px 20px;
}

#Resume hr {
    border-width: 3px;
    margin-top: 06px;
}
