@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <title></title>
    </head>
<body style="background-color:antiquewhite">
    <div class="text-center">
        <h1 class="display-4">Welcome to C#</h1>

    </div>
</body>
</html>