@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<html>
<head>
    <title></title>
</head>
<body style="background-color:antiquewhite">
    <div class="text-center">
        <h1 class="display-4">Welcome to C#</h1>
        <p>Use this page to detail your site's privacy policy.</p>

    </div>
</body>
</html>

